body{
	background-color: #000);
	color: #232323;


p{
	font-family: hepra slab, serif;
}

/*a{
	color: #232323;
	text-decoration: none:;
	text-align: center;

}*/

/* los links del menu*/

}
h1{ display: flex;
	color: #232323;
}
h2{
	font-family: roboto,sans-serif;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu { 
	list-style: none;
	/* le quita los puntitos de lista*/
	display: flex;
	text-decoration: none;
 	justify-content: center;
 	padding: 0;
}
.menu-link{
 	text-decoration:none;
 	/* quitar subrayado*/
 	color:#232323;
 	font-weight: 800;
 	display: block;
 	/* bloquea la pantalla de fondo*/
 	padding: 5px 10px;
}
.menu-link-active{
	border-bottom:solid 5px #000 ;
	/* borde para las cajas - la linea de abajo
	del link */
	color: #666 ;
	/* color al pasar por encima*/
}


.center-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

pa{
	background-color: #f90;
	width: 400px;
	height: 300px;
	padding: 50px;
	border: solid 20px #f000;
}
div{
	background-color: #232323;
	color: #f90;
	padding: 20px;
	border: solid 2px #000;
	margin: 5px;
}

.





